{% extends 'base.html' %}
{% load static %}
{% block content %}

  {% include 'partials/menu.html' %}

  <!-- Início Carousel --> 
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="{% static 'img/carrosselimg1.jpg' %}" class="d-block w-100 imagem-carousel" alt="...">
        <div class="carousel-caption d-none d-md-block h-50">
          <h1 class="texto-legenda display-3">Reaproveite melhor os alimentos!</h1>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="{% static 'img/carrosselimg2.jpg' %}" class="d-block w-100 imagem-carousel" alt="...">
        <div class="carousel-caption d-none d-md-block h-50">
          <h1 class="texto-legenda display-3">Economize e ganhe em saúde!</h1>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Fim Carousel -->

  <h1 class="text-center texto-inicio cor-especial pt-4">Receitas para economizar, ganhar saúde e viver melhor!</h1>
  <p class="text-center text-secondary p-2">Nossas receitas ajudam você a aproveitar melhor os alimentos, economizar, ganhar tempo e praticidade</p>

  <!-- Início Cards -->
  <div class="row row-cols-1 row-cols-md-3 g-4 p-3">
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'img/receita-abacate.jpg' %}" class="card-img-top imagem-card" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tigela de abacate</h5>
          <p class="card-text">Receita refrescante e cheia de vitaminas para o seu café da manhã!</p>
          <footer>
            <a href="receita.html" class="btn btn-primary">Veja a receita</a>
          </footer>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'img/receita-kiwi.jpg' %}" class="card-img-top imagem-card" alt="...">
        <div class="card-body">
          <h5 class="card-title">Receita de Kiwi</h5>
          <p class="card-text">Receita refrescante e cheia de vitaminas para o seu café da manhã!.</p>
          <footer>
            <a href="#" class="btn btn-primary">Veja a receita</a>
          </footer>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'img/receita-mix.jpg' %}" class="card-img-top imagem-card" alt="...">
        <div class="card-body">
          <h5 class="card-title">Receita de Mix de vegetais</h5>
          <p class="card-text">Receita refrescante e cheia de vitaminas para o seu café da manhã!</p>
          <footer>
            <a href="#" class="btn btn-primary">Veja a receita</a>
          </footer>
        </div>
      </div>
    </div>
  </div>
  <!-- Fim Cards -->
  <!-- Início Cards -->
  <div class="row row-cols-1 row-cols-md-3 g-4 p-3">
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'img/receita-beterrabas.jpg' %}" class="card-img-top imagem-card" alt="...">
        <div class="card-body">
          <h5 class="card-title">Beterrabas assadas</h5>
          <p class="card-text">Receita refrescante e cheia de vitaminas para o seu café da manhã!</p>
          <footer>
            <a href="#" class="btn btn-primary">Veja a receita</a>
          </footer>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'img/receita-oriental.jpg' %}" class="card-img-top imagem-card" alt="...">
        <div class="card-body">
          <h5 class="card-title">Prato oriental</h5>
          <p class="card-text">Receita refrescante e cheia de vitaminas para o seu café da manhã!.</p>
          <footer>
            <a href="#" class="btn btn-primary">Veja a receita</a>
          </footer>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'img/receita-pimentoes.jpg' %}" class="card-img-top imagem-card" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pimentões à Juliana</h5>
          <p class="card-text">Receita refrescante e cheia de vitaminas para o seu café da manhã!</p>
          <footer>
            <a href="#" class="btn btn-primary">Veja a receita</a>
          </footer>
        </div>
      </div>
    </div>
  </div>
  <!-- Fim Cards -->

  {% include 'partials/footer.html' %}
  
  {% endblock %}