{% extends 'base.html' %}
{% load static %}
{% block content %}

  {% include 'partials/menu.html' %}

  <div class="mt-2">
    <img class="img-fluid rounded mx-auto d-block imagem" src="{% static 'img/carrosselimg1.jpg' %}">
  </div>

  <div class="margem mt-4">
      <span>30 de Fevereiro, 2000</span>
      <h2>Nome da receita</h2>
      <div class="">
          <h6>Preparo: 15 minutos</h6>
          <h6>Rendimento: 2 porçoes</h6>
          <h6>Categoria: categoria</h6>
          <h6>Por: Pessoa</h6>
      </div>
  </div>

  <div class="margem mt-4">
      <h4>Ingredientes</h4>
      <div class="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
      </p>
      </div>
  </div>

  <div class="margem mt-4">
      <h4>Preparo</h4>
      <div class="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
      </div>
  </div>

  {% include 'partials/footer.html' %}

{% endblock %}