.imagem-carousel{
	object-position: 0 80%;
	object-fit: cover;
	height: 550px;
}

.texto-legenda{
	color: white;
	font-family: 'Pacifico', cursive;
}

.texto-inicio{
	font-family: 'Pacifico', cursive;
}

.cor-especial{
	color: #A61B0C;
}

.imagem-card{
	object-fit: cover;
	height: 400px;
}



.imagem{
	width: 80%;
	height: 500px;
	object-fit: cover;
}

.margem{
	margin-right: 10%;
	margin-left: 10%;
}

.margem-direita{
	margin-right: 10%;
}